:root{
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    --Rubik: 'Rubik', sans-serif;
}

*{
    font-family: var(--Rubik);
}

.red{
    background-color: var(--Soft-Red);
}

.text-red{
    color: var(--Soft-Red);
}

.soft-blue{
    background-color: var(--Soft-Blue);
}

.text-soft-blue{
    color: var(--Soft-Blue);
}

.dark-blue{
    background-color: var(--Very-Dark-Blue);
}

.text-dark-blue{
    color: var(--Very-Dark-Blue);
}